.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #263238;
  height: 70px;
}

.app-logo {
  color: #fff;
  font-size: 18px;
  padding-left: 15px;
}
